<html>
<head>
  <title>Hi there</title>
</head>
<body>
  This is a Homepage
</body>

  <%= link_to "About", about_path %>
  <%= link_to image_tag("DoD.jpg"), "http://www.hbo.com/game-of-thrones" %>
</html>