<html>
<head>
  <title>Hi there</title>
</head>
<body>
</body>
  <div class = "jumbotron center">
    <h1> ALPHA-BLOG </h1>
    <%= link_to "Sign up now", "a", class: "btn btn-danger btn-lg btn-xlarge" %>
  </div>

</html>